<%= render 'spree/admin/shared/promotion_sub_menu' %>

<form action="<%= spree.admin_social_coupons_path %>" method="get">
  <input name="coupon_code" placeholder="Social Coupon Code" type="text" value="<%= params[:coupon_code] %>"></input>
  <button>Find Social Coupon</button>
</form>

<br/>
<br/>

<% if @social_coupon %>
  <% meta_data = @social_coupon.promotion_rule.promotion.actions.where(type:Spree::Promotion::Actions::SocialCouponAction).first.calculator.preferences %>
  <table class="index responsive">
    <thead>
      <tr>
        <th>Code</th>
        <th>Enabled</th>
        <th>Promotion</th>
        <th>Deadline</th>
        <th>Amount before dedaline</th>
        <th>Amount after dedaline</th>
        <th>Currency</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr style="text-align: center">
        <td><%= @social_coupon.code %></td>
        <td><%= !@social_coupon.disabled? %></td>
        <td><%= link_to @social_coupon.promotion_rule.promotion.name, edit_admin_promotion_path(@social_coupon.promotion_rule.promotion) %></td>
        <td><%= DateTime.parse(meta_data[:deadline_date]).strftime("%m/%d/%Y") %></td>
        <td><%= meta_data[:amount_before_deadline] %></td>
        <td><%= meta_data[:amount_after_deadline] %></td>
        <td><%= meta_data[:currency] %></td>
        <td>
          <%= link_to 'disable', disable_admin_social_coupon_path(@social_coupon), class: 'button', data: {confirm: 'Do you really want to disable the following coupon code?'}, method: :put %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
